@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');


body{
    background-color: #e4d5c1;
}

html{
    font-family: 'AR One Sans', sans-serif; 
}

span{
    color: black;
}

#header{
    background-color: #cca46f;
    font-size: xxx-large;
    font-weight: bold; 
    color: black;
    box-shadow: none;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-top: 40px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0%;
}

#meny{
    font-size: x-large;
    text-decoration:underline;
}

ol{
    text-align: center;
    position: absolute; 
    width: 170px;
    right: 2%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #cdb595;
    list-style-type: none;
    padding: 0;
}

ol li{
    border-collapse: separate;
    margin: 5px;
    padding: 5px;
}

ol a{
    position: relative;
    width: 2px;
    padding: 0px;
    text-decoration: none;
}

ol a:hover{
    background-color: #cca46f;
    text-decoration: underline;
}

.maxwidth{
    max-width: 20%;
}

main li{
    display: block;
    font-size: large;
    border-radius: 5px;
    height: 60px;
    width: auto; 
    box-shadow: 5px 5px 3px; color:#3a4148;
    background-color: #cca46f;
    margin: 20px;
    text-align: center; width: auto;
    padding: 15px;
    padding-top: 45px;
}

h1{
    background-color: #cca46f;
    text-align: center;
}

.rubrik{
    display: block;
    padding: 10px;
    padding-left: 0;
    text-align: left;
}

ul{
    margin-left: 20%;
    margin-right: 20%;
}

ul li a{
    position: absolute;
    padding: 75px;
    padding-top: 20px;
    padding-bottom: 0;
}

.länk{
    display: block;
    padding-left: 0;
}

.fab{
    position: fixed;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    right: 2px;
    bottom: 10px;
    font-size: large;
    border: 2px solid black;
    padding: 1em;
    background-color:#715738;
    box-shadow: 4px 4px 4px rgba(00, 00, 00, 1);
    height: 30px;
    width: 100px;
    font-size: medium;
    border-radius: 5px;
}

.fab1{
    position: absolute;
    padding: 10px;
}

#vitfab{
    color: white;
    text-decoration: underline;
}

div a{
    margin-right: 20px;
}

div a:hover{
    text-decoration: none;
}

.kontaktblock{
    font-size: x-large;
    display: block;
    padding-top: 5px;
    padding-left: 0;
}

textarea{
    max-width: 50%;
}

.divom{
    display: block;
    background-color: #cca46f;
    font-size: large;
    border-radius: 5px;
    box-shadow: 5px 5px 3px; color:#775c39;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left; width: auto;
    padding: 15px;
    padding-top: 20px;
}

img{
    position: relative;
    max-width: 80%;
}

.divbild{
    display: block;
    position: relative; 
    background-color: #cca46f;
    font-size: large;
    border-radius: 5px;
    box-shadow: 5px 5px 3px; color:#775c39;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    width: 200px;
    padding: 15px;
    padding-top: 20px;
}

h2{
    text-align: center;
    color: black;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

table{
    color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tbody tr:nth-child(even){
    background-color: #775c39
}

tbody tr:nth-child(odd){
    background-color: #cdb595
}

table tbody{
    border-color:  black;
    border-width: 2px;
    border-style: solid;
}

h3{
    margin-left: 40px;
}

.tjanst{
    float: left;
    padding-right: 10px;
}

.bildtext{
    margin-top: 2px;
    font-size: x-small;
    max-width: 50px;
}

footer{
    color: black;
    background-color:#cca46f;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-top: 15px;
}

.adress{
    font-size: medium;
}

.Kontakt{
    background-color: beige;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    margin-left: 42%;
    margin-right: 42%;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 3px; color:#775c39;
}

footer a{
    font-size: large;
    color: black;
    text-decoration: none;
    padding: 20px;
}